<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <ul style="display: flex; gap: 10px; list-style: none;">
      <li><a href="/movies">Películas</a></li>
      <li><a href="/genres">Géneros</a></li>
      <li><a href="/actors">Actores</a></li>
  </ul>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
  </body>
  <footer>
    <h3 style="color: red;">No hice los demas tps por hacer este. Sepan disculpar. TKM ♥</h3>
  </footer>
</html>
